:root {
    caret-color: transparent;
    user-select: none;
}
#board {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 576px;
    height: 576px;
    display:flex;
    flex-wrap: wrap;
    box-shadow:0px 0px 0px 2px rgb(0, 0, 0);
    z-index: 3;
}

#inputBoard {
    position: absolute;
    width:192px;
    height: 256px;
    left: 50%;
    top: 50%;
    margin-left:350px;
    margin-top:-100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputCell {
    background-color: white;
    width: 64px;
    height: 64px;
    box-shadow:inset 0px 0px 0px 2px rgb(0, 0, 0)
}
#in0 {
    color: red;
}

.threeCell {
    width: 192px;
    height: 192px;
    display:flex;
    flex-wrap: wrap;
    box-shadow:0px 0px 0px 4px rgb(0, 0, 0)
}

.cell {
    width: 64px;
    height: 64px;
    box-shadow:inset 0px 0px 0px 1px rgb(0, 0, 0)
}

.locked {
    opacity: 1;
}
.lockedCover {
    position: relative;
    bottom: 40px;
    width: 64px;
    height: 64px;
    background-color: rgb(127, 127, 127);
    opacity: 0.3;
    z-index: 4;
}

.primary {
    background-color: rgb(124, 78, 111);
    color: rgb(251, 251, 225);
    z-index: 2;
}
.secondary {
    background-color: rgb(255, 255, 190);
    color: rgb(54, 33, 49);
    z-index: 2;
}

.selectedPrimary {
    box-shadow: inset 0px 0px 0px 2px rgb(255, 0, 0);
    z-index: 5;
}

.selectedSecondary {
    box-shadow: inset 0px 0px 0px 2px rgb(4, 142, 255);
    z-index: 4;
}

.greyedOut {
    opacity:0.3;
}
.error {
    color: red;
    box-shadow: inset 0px 0px 0px 2px rgb(255, 0, 0);
    z-index: 5;
}
.textDisplay {
    text-align: center;
    font-weight: bolder;
    position: relative;
    font-size: 40px;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    top: 20%
}